@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
  --background: -124.2 64.3% 90.5%;
  --foreground: -115.2 0.7% 9.7%;
  --card: -124.2 64.3% 90.5%;
  --card-foreground: -115.2 0.7% 9.7%;
  --popover: -124.2 64.3% 90.5%;
  --popover-foreground: -115.2 0.7% 9.7%;
  --primary: 8.8 67.7% 73.1%;
  --primary-foreground: 130.8 4.5% 10.3%;
  --secondary: 117.8 40.6% 89.2%;
  --secondary-foreground: -0.2 54.7% 2.1%;
  --muted: 117.8 40.6% 89.2%;
  --muted-foreground: -1.2 14.4% 19.4%;
  --accent: 117.8 40.6% 89.2%;
  --accent-foreground: -0.2 54.7% 2.1%;
  --destructive: 124.8 84.8% 71.9%;
  --destructive-foreground: -109.2 93.1% 50.4%;
  --border: -111.2 24.8% 86.9%;
  --input: -111.2 24.8% 86.9%;
  --ring: 8.8 67.7% 73.1%;
      --radius: 0.5rem;
  }

  .dark {
  --background: 138.1 86.3% 0.6%;
  --foreground: 154.1 64.1% 94.9%;
  --card: 139.1 11.6% 12.4%;
  --card-foreground: 154.1 64.1% 94.9%;
  --popover: 155.1 37.8% 13.1%;
  --popover-foreground: 154.1 64.1% 94.9%;
  --primary: 143.1 91.9% 78.4%;
  --primary-foreground: 150.1 43% 3.1%;
  --secondary: 146.1 54.7% 16.1%;
  --secondary-foreground: 152.1 88.4% 92.3%;
  --muted: 138.1 98.6% 20.1%;
  --muted-foreground: 144.1 33.2% 89%;
  --accent: 135.1 66% 16.3%;
  --accent-foreground: 152.1 88.4% 92.3%;
  --destructive: 136.1 74.5% 40.5%;
  --destructive-foreground: 137.1 11.3% 6%;
  --border: 146.1 54.7% 16.1%;
  --input: 146.1 54.7% 16.1%;
  --ring: 143.1 70.5% 63.3%;
  }
}
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }